# Latex
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc

## Inkscape svg
svg-inkspace/*
*.pdf_tex

## Latex glossary
*.glg
*.glo
*.gls
*.glsdefs
*.ist

# Cartella file compilati
out/
*.pdf
*.dvi

# MacOS file
.DS_Store

# VSCode
.vscode
